@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
  }
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-noto {
  font-family: 'Noto Sans', sans-serif;
}

.font-bookerly {
  font-family: 'Bookerly', serif;
}


@layer utilities {

  .scrollbar-hide::-webkit-scrollbar,
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide,
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes pulse-soft {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.animate-pulse-soft {
  animation: pulse-soft 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}